.wx-task.wx-OQDwWK17 {
  display: flex;
  padding: 8px 0 4px;
  height: fit-content;
}

.wx-task.wx-OQDwWK17 {
  border-top: 1px solid var(--wx-color-disabled);
}

.wx-task.wx-OQDwWK17:last-child {
  border-bottom: 1px solid var(--wx-color-disabled);
}

.wx-checkbox-wrapper label span:first-child:before {
  border-radius: 50%;
}

.wx-task.wx-done.wx-OQDwWK17
  .wx-checkbox-wrapper
  input:checked
  ~ label
  span.wx-before:first-child:before {
  background: #00d19a;
}

.wx-wrapper.wx-OQDwWK17 {
  flex: 1;
  min-height: 20px;
  margin-left: 16px;
  min-height: 30px;
  height: fit-content;
  overflow: hidden;
  margin-top: -5px;
}

.wx-texarea.wx-OQDwWK17 {
  display: block;
  width: 100%;
  resize: none;
  outline: none;
  height: 30px;
  font-family: var(--wx-input-font-family);
  font-size: var(--wx-input-font-size);
  line-height: var(--wx-input-line-height);
  font-weight: var(--wx-input-font-weigth);
  text-align: var(--wx-input-text-align);
  color: var(--wx-input-font-color);
  border: var(--wx-input-border);
  border-radius: var(--wx-input-border-radius);
  background: var(--wx-input-background);
  padding: var(--wx-input-padding);
  box-sizing: border-box;
  word-wrap: break-word;
  overflow: hidden;
}

.wx-texarea.wx-OQDwWK17:focus {
  border: var(--wx-input-border-focus);
}

.wx-texarea.wx-OQDwWK17::placeholder {
  color: var(--wx-input-placeholder-color);
}

.wx-text-wrapper.wx-OQDwWK17 {
  padding: var(--wx-input-padding);
  border: var(--wx-input-border);
  border: 1px solid transparent;
  border-radius: 3px;
  width: 100%;
  min-height: 30px;
}

.wx-text.wx-OQDwWK17 {
  word-wrap: break-word;
}

.wx-done.wx-OQDwWK17 .wx-text.wx-OQDwWK17 {
  text-decoration: line-through;
  opacity: 0.6;
}

.wx-task.wx-OQDwWK17:hover .wx-icon-close.wx-OQDwWK17 {
  opacity: 1;
}

.wx-icon-add.wx-OQDwWK17 {
  font-size: var(--wx-checkbox-size);
  color: var(--wx-color-font-alt);
}

.wx-icon-close.wx-OQDwWK17 {
  color: var(--wx-color-font-alt);
  margin-left: 8px;
  font-size: 20px;
  height: 20px;
  width: 20px;
  opacity: 0;
  transition: 0.3s linear;
}

.wx-icon-close.wx-OQDwWK17 .wxi-close {
  cursor: pointer;
}

.wx-icon-close.wx-OQDwWK17 .wxi-close:hover {
  color: var(--wx-color-danger);
}
